.content{
	width: 1200px;
	margin: 0 auto;
}
#header{
	height: 39px;
	background: #fbfbfb;
	border-bottom: 1px solid #e1e1e1;
}
#header .head{
	height: 39px;
}
#header .head .right{
	float: left;
}
#header .head .right li{
	float: left;
	position: relative;
}
#header .head .right li .Language{
	position: absolute;
	top: 39px;
	left: 0;
	border: 1px solid black;
	padding: 28px 24px 24px;
	width: 370px;
	background: white;
	display: none;
	z-index: 4;
}
#header .head .right li .Language h1{
	font: 14px/18px "微软雅黑";
}
#header .head .right li .Language ._box{
	margin: 0 auto;
	margin-top: 20px;
}
#header .head .right li .Language a{
	width: 111px;
	height: 38px;
	display: inline-block;
	border: 1px solid #e1e1e1;
	text-align: center;
	font: 14px/38px "Arial";
	margin-right: 10px;
	color: #666666;
}
#header .head .right li .Language a:nth-of-type(2){
	font-weight: 900;
	color: white;
	background: #f43142;
}
#header .head .right li .Language a:nth-of-type(3){
	margin-right: 0;
}
#header .head .right li .aa{
	display: block;
	text-align: center;
	font: 12px/39px "微软雅黑";
	color: #666666;
	border-right: 1px solid #e7e7e7;
	position: relative;
}
#header .head .right li:nth-of-type(1) .aa{
	z-index: 5;
}
#header .head .right li:nth-of-type(2) .aa{
	z-index: 4;
}
#header .head .right li:nth-of-type(3) .aa{
	z-index: 2;
}
#header .head .right li .a1{
	width: 96px;
	height: 39px;
	border-left: 1px solid #e7e7e7;
	
}

#header .head .right li:nth-of-type(1):hover .Language{
	display: block;
}
#header .head .right li:nth-of-type(1):hover .a1{
	background: white;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid white;
}
#header .head .right li:nth-of-type(1):hover .a1 img{
	transform: rotateZ(180deg);
}
#header .head .right li:nth-of-type(2):hover .home{
	display: block;
}
#header .head .right li:nth-of-type(2):hover .a2{
	background: white;
	border-right: 1px solid black;
	border-bottom: 1px solid white;
}
#header .head .right li:nth-of-type(2):hover .a2 img{
	transform: rotateZ(180deg);
}

#header .head .right li .a1:hover{
	background: white;
}
#header .head .right li .a2{
	padding: 0 15px;
	height: 39px;
}
#header .head .right li .a3 i{
	margin-left: 10px;
}
#header .head .right li .a3{
	height: 39px;
	padding:0 15px;
	border-bottom: 1px solid #e7e7e7;
	text-align: inherit;
}
#header .head .right li:nth-of-type(3):hover .bigbox{
	display: block;
}
#header .head .right li:nth-of-type(3) .bigbox:active{
	display: none;
}
#header .head .right li:nth-of-type(2) .home:active{
	display: none;
}
#header .head .right li .bigbox{
	width: 250px;
	position: absolute;
	left: -1px;
	top: 0px;
	border: 1px solid black;
	border-top: 0;
	z-index: 4;
	background: white;
	display: none;
}
#header .head .right li .send .a3{
	background: white;
	text-align: inherit;
}
#header .head .right li .send .a3 img{
	position: absolute;
	right: 20px;
	top: 20px;
}
#header .head .right li .chose{
	height: 310px;
	padding: 30px 24px 24px;
}
#header .head .right li .chose h1{
	font: 14px/18px "Arial";
	margin-bottom: 16px;
}
#header .head .right li .chose .bottom{
	border: 1px solid #e7e7e7;
	max-height: 240px;
	padding: 6px 0 13px 14px;
	overflow-y: auto;
}
#header .head .right li .chose .bottom li{
	float: initial;
	font: 13px/17px "Arial";
	color: #666666;
	margin-bottom: 10px;
	cursor: pointer;
}
#header .head .right li .a2 i{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/ico_ctry_small.png) no-repeat;
	background-position: 0 -132px;
	vertical-align: middle;
	margin-right: 10px;
}
#header .head .right li .aa img{
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
}
#header .head .right li .home{
	width: 616px;
	height: 330px;
	padding: 30px 24px 24px;
	background: white;
	position: absolute;
	z-index: 3;
	top: 39px;
	left: -1px;
	border: 1px solid black;
	display: none;
}
#header .head .right li .home h1{
	font: 14px/18px "Arial";
	height: 34px;
	border-bottom: 1px solid #e7e7e7;
}
#header .head .right li .home .home_box li{
	float: left
}
#header .head .right li .home .home_box li a{
	width: 110px;
	height: 28px;
	display: block;
	font: 13px/28px "Arial";
	color: #666666;
}
#header .head .right li .home .home_box li .China{
	color: #f43142;
}
#header .head .right li .home .home_box li:hover a{
	color: #f43142;
}
#header .head .right li .home .home_box li{
	width: 154px;
	margin-top: 20px;
}
#header .head .right li .home .home_box li a i{
	width: 28px;
	height: 28px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	background: url(../img/ico_ctry.png) no-repeat;	
}
#header .head .right li .home .home_box li:nth-of-type(1) a i{
	background-position: 0 0;
}
#header .head .right li .home .home_box li:nth-of-type(2) a i{
	background-position: 0 -28px;
}
#header .head .right li .home .home_box li:nth-of-type(3) a i{
	background-position: 0 -56px;
}
#header .head .right li .home .home_box li:nth-of-type(4) a i{
	background-position: 0 -84px;
}
#header .head .right li .home .home_box li:nth-of-type(5) a i{
	background-position: 0 -112px;
}
#header .head .right li .home .home_box li:nth-of-type(6) a i{
	background-position: 0 -140px;
}
#header .head .right li .home .home_box li:nth-of-type(7) a i{
	background-position: 0 -168px;
}
#header .head .right li .home .home_box li:nth-of-type(8) a i{
	background-position: 0 -196px;
}
#header .head .right li .home .home_box li:nth-of-type(9) a i{
	background-position: -28px 0;
}
#header .head .right li .home .home_box li:nth-of-type(10) a i{
	background-position: -28px -28px;
}
#header .head .right li .home .home_box li:nth-of-type(11) a i{
	background-position: -28px -56px;
}
#header .head .right li .home .home_box li:nth-of-type(12) a i{
	background-position: -28px -84px;
}
#header .head .right li .home .home_box li:nth-of-type(13) a i{
	background-position: -28px -112px;
}
#header .head .right li .home .home_box li:nth-of-type(14) a i{
	background-position: -28px -140px;
}
#header .head .right li .home .home_box li:nth-of-type(15) a i{
	background-position: -28px -168px;
}
#header .head .right li .home .home_box li:nth-of-type(16) a i{
	background-position: -28px -196px;
}
#header .head .right li .home .home_box li:nth-of-type(17) a i{
	background-position: -56px 0;
}
#header .head .right li .home .home_box li:nth-of-type(18) a i{
	background-position: -56px -28px;
}
#header .head .right li .home .home_box li:nth-of-type(19) a i{
	background-position: -56px -56px;
}
#header .head .right li .home .home_box li:nth-of-type(20) a i{
	background-position: -56px -84px;
}
#header .head .right li .home .home_box li:nth-of-type(21) a i{
	background-position: -56px -112px;
}
#header .head .right li .home .home_box li:nth-of-type(22) a i{
	background-position: -56px -140px;
}
#header .head .right li .home .home_box li:nth-of-type(23) a i{
	background-position: -56px -168px;
}
#header .head .right li .home .home_box li:nth-of-type(24) a i{
	background-position: -56px -196px;
}

#header .left{
	float: right;
	width: 413px;
	height: 39px;
}
#header .left li{
	float: left;
	padding-left: 10px;
}
#header .left li a:hover{
	color: red;
	text-decoration: underline;
}
#header .left .one i{
	display: inline-block;
	border-top: 4px solid #666666;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
	margin-bottom: -1px;
	margin-left: 10px;
}
#header .left .one i{
	margin-bottom: 0;
}
#header .left .one{
	
	height: 30px;
	margin-top: 5px;
	position: relative;
}
#header .left .one:hover{
	border: 1px solid black;
	height: 28px;
	padding-left: 9px;
	width: 130.5px;
}
#header .left .one:hover a{
	line-height: 27px;
}

#header .left .one:hover ul{
	display: block;
}
#header .left .one a{
	line-height: 30px;
}
#header .left .one ul{
	position: absolute;
	width: 139.5px;
	height: 130px;
	top: 28px;
	left: -1px;
	border: 1px solid black;
	padding-top: 10px;
	display: none;
	z-index: 1;
	background: white;
}
#header .left .one ul li{
	float: none;
}
#header .left li a{
	font: 14px/39px "微软雅黑";
	color: #666666;
}
#header .left li span{
	width: 1px;
	height: 10px;
	background: #e2e1e0;
	display: inline-block;
	margin-left: 10px;
}
#search_wrap{
	height: 108px;
	border-bottom: 1px solid #ECECEC;
}
#search_wrap .search{
	height: 108px;
	padding-top: 33px;
	position: relative;
}
#search_wrap .logo_left{
	width: 102px;
	height: 61px;
	background: url(../img/LOGO2.jpg) no-repeat;
	float: left;
	position: absolute;
	left: 38px;
	top: 28px;
}
#search_wrap .logo_left a{
	width: 102px;
	height: 61px;
	display: block;
	text-indent: -9999px;
}
#search_wrap .logo_right{
	width: 200px;
	height: 97px;
	background: url(../img/LOGO1.gif) no-repeat;
	position: absolute;
	right: 0;
	top: 8px;
}
#search_wrap .logo_right a{
	display: block;
	width: 200px;
	height: 97px;
	text-indent: -9999px;
}
#search_wrap .look{
	float: left;
	width: 478px;
	height: 40px;
	border: 1px solid #f43142;
	border-bottom: 2px solid #f43142;
	margin-left: 208px;
	position: relative;
}
#search_wrap .look img{
	width: 45px;
	height: 44px;
	position: absolute;
	right: -1px;
	top: -2px;
	cursor: pointer;
}
#input{
	height: 37px;
	width: 433px;
	font: 20px/40px "微软雅黑";
	color: black;
	border: 0;
	text-indent: 20px;
}
#sub{
	height: 38px;
	width: 44px;
	float: right;
	
}
#back_wrap{
	height: 51px;
	overflow: hidden;
}
#back_wrap .back{
	height: 51px;
	position: relative;
}
#back_wrap .back .nav{
	position: absolute;
	left: 0;
	top: 0;
	height: 514px;
	width: 175px;
}
#back_wrap .back .nav li .in{
	position: absolute;
	left: 175px;
	top: 46px;
	width: 400px;
	background: white;
	z-index: 4;
	display: none;
}
#back_wrap .back .nav li .in h2{
	margin: 0 10px;
	border-bottom: 1px solid black;
	line-height: 80px;
}
#back_wrap .back .nav li .in a{
	margin: 10px 10px;
	display: block;
	color: black;
	border-bottom: 1px solid #ccc;
}
#back_wrap .back .nav li .in a:hover{
	color: #eb3c25;
	font-weight: bold;  
    background: rgba(161,195,223,.2);  
    text-shadow: 3px 3px 0px #fff;  
	text-shadow: 0 0 4px #FFF, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
}
#back_wrap .back .nav li:nth-of-type(1){
	height: 51px;
	width: 175px;
	background: url(../img/menu.png) no-repeat;
	background-position: -177px 0;
}
#back_wrap .back .nav li{
	border-bottom:1px solid #f4f4f4;
}
#back_wrap .back .nav li:hover .in{
	display: block;
}
#back_wrap .back .nav li .a{
	position: relative;
	z-index: 9;
	color: white;
	padding-left: 13px;
	width: 162px;
	height: 41px;
	background: rgb(0,0,0,.6);
	display: block;
	font:14px/41px "微软雅黑";
}
#back_wrap .back .img{
	margin-left: 190px;
}
#back_wrap .back .img li{
	float: left;
}
#back_wrap .back .img li img{
	padding: 8px 0 0 12px;
	cursor: pointer;
}
#home{
	height: 60px;
	
}
#home .home{
	height: 60px;
	overflow: hidden;
}
#home a{
	display: block;
	font-size:10px;
	margin-top: 30px;
	color: #999999;
}
#home a img{
	display: inline-block;
	margin-left: 6px;
}
#cc{
	height: 100px;
}

#cart_wrap .cart .head{
	height: 28px;
	background: #EFEFEF;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid black;
	border-left: 1px solid #E5E5E5;
}
#cart_wrap .cart .check{
	width: 12px;
	height: 12px;
	border: 2px solid #a8a8a8;
	background: white;
	color: #646464;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
#cart_wrap .cart .head span{
	font: 12px/28px "微软雅黑";
	color: #333333;
	height: 28px;
	border-right: 1px solid #E5E5E5;
	text-align: center;
	display: inline-block;
}
#cart_wrap .cart .head span:nth-of-type(1){
	width: 388px;
}
#cart_wrap .cart .head span:nth-of-type(2){
	width: 58px;
}
#cart_wrap .cart .head span:nth-of-type(3){
	width: 100px;
}
#cart_wrap .cart .head span:nth-of-type(4){
	width: 147px;
}
#cart_wrap .cart .head span:nth-of-type(5){
	width: 100px;
}
#cart_wrap .cart .head span:nth-of-type(6){
	width: 100px;
}
#cart_wrap .cart .head span:nth-of-type(7){
	width: 240px;
}
#cart_wrap .cart .list{
	height: 109px;
	border-bottom: 2px solid #f5f5f5;
	font-size: 11px;
	color: #4d4d4d;
}
#cart_wrap .cart .list .box{
	float: left;
}
#cart_wrap .cart .list .content img{
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-left: 11px;
	margin-right: 8px;
	border:1px solid #E5E5E5;
	float: left;
}
#cart_wrap .cart .list .check2{
	margin-top: 0;
}
#cart_wrap .cart .list .box{
	border-right: 1px solid #e5e5e5;
}
#cart_wrap .cart .list .content{
	
	padding-top: 13px;
	width: 406.5px;
	height: 96px;
	padding-right: 12px;
}
#cart_wrap .cart .list .content input{
	display: inline-block;
	float: left;
	color: #8d4d8d;
}
#cart_wrap .cart .list .content span{
	font: 12px/16px "微软雅黑";
	color: #333333;
	margin-right: 10px;
}
#cart_wrap .cart .list .number{
	width: 56px;
	height: 71px;
	text-align: center;	
	padding-top: 38px;
	padding-left: 7px;
}
#cart_wrap .cart .list .number .btn{
	float: left;
	height: 24px;
	margin-top: 4px;
	margin-right: 2px;
	margin-left: 10px;
}
#cart_wrap .cart .list .number .top_btn{
	width: 12px;
	height: 9px;
	background: url(../img/icon2.gif) no-repeat;
	background-position: -17px -75px;
	border: 0;
	padding: 0;
	margin-bottom: 3px;
	display: block;
	cursor: pointer;
}
#cart_wrap .cart .list .number .bottom_btn{
	width: 12px;
	height: 9px;
	background: url(../img/icon2.gif) no-repeat;
	background-position: -17px -86px;
	border: 0;
	padding: 0;
	margin-bottom: 3px;
	display: block;
	cursor: pointer;
}
#cart_wrap .cart .list .number input{
	width: 24px;
	height: 18px;
	border: 1px solid #bbbbbb;
	margin-top: 3px;
	display: inline-block;
	float: left;
	text-align: center;
}
#cart_wrap .cart .list .price{
	height: 73px;
	width: 105px;	
	text-align: center;
	padding-top: 36px;
}
#cart_wrap .cart .list .price span{
	font: 14px/18px "微软雅黑";
	color: #4d4d4d;
	display: inline-block;
}
#cart_wrap .cart .list .send{
	height: 109px;
	width: 151.5px;
	text-align: center;
}
#cart_wrap .cart .list .send p{
	margin-top: 16px;
	margin-bottom: 13px;
}
#cart_wrap .cart .list .send span{
	display: inline-block;
	width: 130px;
	height: 20px;
	border: 1px solid #ee0c0c;	
	text-align: center;
	font: 11px/20px "微软雅黑";
	color: #EE0C0C;
	cursor: pointer;
}
#cart_wrap .cart .list .send a{
	color: #666666;
	display: inline-block;
	margin-bottom: 11px;
	text-decoration: underline;
}
#cart_wrap .cart .list .all{
	height: 73px;
	width: 104.5px;	
	text-align: center;
	padding-top: 36px;
}
#cart_wrap .cart .list .all span{
	font: 14px/18px "微软雅黑";
	color: #e4393c;
	display: inline-block;
}
#cart_wrap .cart .list .operation{
	width: 246px;
	height: 99px;
	padding-top: 10px;
	border-right: 0;
}
#cart_wrap .cart .list .operation a{
	width: 132px;
	height: 18px;
	border: 1px solid #a6a6a6;
	display: block;
	text-align: center;
	line-height: 18px;
	margin-bottom: 6px;
	margin: 0 auto;
	color: #4d4d4d;
}
#cart_wrap .cart .list .operation a:nth-of-type(3){
	background: #fa3737;
	border: 1px solid #ee0c0c;
	color: white;
}
#cart_wrap .cart .footer{
	height: 50px;
	border: 1px solid #f0f0f0;
	margin-top:20px;
	font-size: 12px;
	color: #666666;
}
#cart_wrap .cart .footer label{
	line-height: 50px;
}
#cart_wrap .cart .footer a{
	color: #666666;
}
#cart_wrap .cart .footer .sumprice{
	float: right;
}
#cart_wrap .cart .footer .account{
	display: block;
	float: right;
	width: 96px;
	height: 52px;
	background: #e64346;
	color: white;
	font-weight: 900;
	font-size: 17px;
	line-height: 52px;
	text-align: center;
}
#cart_wrap .cart .footer #all2{
	margin:0 9px 0 9px;
	display: inline-block;
	vertical-align: middle;
	
}
#cart_wrap .cart .footer.shan{
	margin:0 10px 0 10px;
}
#cart_wrap .cart .footer .sumprice{
	width: 480px;
	height: 52px;
	position: relative;
	
}
#cart_wrap .cart .footer .sumprice span{
	line-height: 25px;
}
#cart_wrap .cart .footer .sumprice ._box{
	float: right;
	width: 145px;
}
#cart_wrap .cart .footer .sumprice .fi{
	position: absolute;
	top: 12px;
	left: 0;
}
#cart_wrap .cart .footer .sumprice .red{
	font-size:14px;
	color: #e4393c;
}
#img{
	margin-top: 200px;
}
